body{
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;

}

.poster{
    width: 50%;
    margin-top: 10%;
    margin-left: 300px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.motivating-img{
    border: 5px solid white;
    width: 100%;
}
